<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changhong.setting"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="setting part" >

        <!--设置部分-->
        <activity
            android:name="com.changhong.setting.activity.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>