<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changhong.tvhelper"
    android:versionCode="4"
    android:versionName="1.3.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.changhong.common.system.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/helper"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
                android:name=".activity.TVHelperWelcomeActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TVRemoteControlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
	    >
        </activity>
        <activity android:label="PlayingActivity"
            android:name=".activity.TVVideoViewPlayingActivity"
            android:configChanges="keyboardHidden|orientation"
            
            
            android:screenOrientation="landscape"
	    android:exported="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TVHelperMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".activity.TVChannelPlayActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.TVChannelShowActivity" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"  android:taskAffinity=""/>

        <activity android:name=".activity.TVChannelSearchActivity" android:screenOrientation="portrait"/>

        <activity android:name=".activity.TVChannelShouCangShowActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TVChannelProgramShowActivity" android:screenOrientation="portrait"/>
        <activity android:name="io.vov.vitamio.activity.InitActivity" android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 投影部分 -->
        <activity
	android:name="com.changhong.touying.activity.TouYingCategoryActivity" 
	android:exported="true"
	android:screenOrientation="portrait"/>
        <activity 
            android:name="com.changhong.touying.activity.PictureCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.PictureViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.PictureDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.VedioCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.VedioViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.VedioDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.MusicCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.MusicViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.changhong.touying.activity.MusicDetailsActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.changhong.touying.activity.MusicPlayerActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />                
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.changhong.touying.activity.MusicPlayListActivity"/>
        <service android:name="com.changhong.touying.nanohttpd.NanoHTTPDService" />
        <service android:name="com.changhong.touying.service.M3UListProviderService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
            </intent-filter>
        </service>

        <!-- 问卷部分 -->
        <activity
            android:name="com.changhong.faq.activity.QuestionListActivity"
            
            android:launchMode="singleTask"
	    android:label="QuestionListActivity"           
            android:theme="@android:style/Theme.NoTitleBar" 
	    android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="com.changhong.faq.activity.VoteRuleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.changhong.faq.activity.VoteSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 设置部分 -->
        <activity
            android:name="com.changhong.setting.activity.SettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 语音部分 -->
        <activity android:name="com.changhong.baidu.BiaDuTestActivity" />

        <!-- 输入法 -->
        <service android:name=".service.ClientGetCommandService" android:enabled="true" android:exported="true" android:priority="1000"/>
        <service android:name=".service.ClientLocalThreadRunningService" android:enabled="true" android:exported="true" android:priority="1000"/>
        <service android:name="com.changhong.common.service.ClientSendCommandService" android:enabled="true" android:exported="true" android:priority="1000"/>
        <service android:name="com.changhong.remotecontrol.TVRemoteControlService" android:enabled="true" android:exported="true" android:priority="1000"/>
    </application>

</manifest>